<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <file>src/DI/Infrastructure/CacheRedis.php</file>
        </exclude>
    </source>
    <coverage includeUncoveredFiles="true">
        <report>
            <html outputDirectory="coverage/html"/>
            <text outputFile="coverage/coverage.txt" showUncoveredFiles="true"/>
        </report>
    </coverage>
</phpunit>
